	<br>
	<h3>Notre Galerie</h3>
<!--  section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/536.jpg" alt="" title="" id="wows1_0"/></li>
		<li><img src="data1/images/2276.jpg" alt="2276" title="2276" id="wows1_1"/></li>
		<li><img src="data1/images/2403.jpg" alt="2403" title="2403" id="wows1_2"/></li>
		<li><img src="data1/images/build2.jpg" alt="build2" title="build2" id="wows1_3"/></li>
		<li><img src="data1/images/car2.jpg" alt="car2" title="car2" id="wows1_4"/></li>
		<li><img src="data1/images/car3.jpg" alt="car3" title="car3" id="wows1_5"/></li>
		<li><img src="data1/images/car9.jpg" alt="car9" title="car9" id="wows1_6"/></li>
		<li><img src="data1/images/e1.jpg" alt="e1" title="e1" id="wows1_7"/></li>
		<li><img src="data1/images/shutterstock_110160008770x385.jpg" alt="shutterstock_110160008-770x385" title="shutterstock_110160008-770x385" id="wows1_8"/></li>
		<li><a href="http://wowslider.com"><img src="data1/images/sla1.jpg" alt="wowslider" title="sla1" id="wows1_9"/></a></li>
		<li><img src="data1/images/w5.jpg" alt="w-5" title="w-5" id="wows1_10"/></li>
	</ul></div>
<div class="ws_script" style="position:absolute;left:-99%"></div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End  section -->